static/* linguist-vendored
templates/* linguist-vendored
_old/* linguist-vendored
dashboard/templates/* linguist-vendored
data/templates/* linguist-vendored
insights/templates/* linguist-vendored
_Dockerized/* linguist-vendored

