{% extends "base.html" %} {% load staticfiles %}{% load materializecss %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>

{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2 text-right">

            <img src="{% static 'img/tableau-logo.png' %}" class="img responsive tableau">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
            <div class="row summary">

                <div class="box">
                    <h5>PROPERTY PRICE ESTIMATOR - AUGUST 2018</h5>
                    <a href="{% url 'daft_analytics:city_choice' %}" class="btn-algorithm">Estimate Property</a>
                </div>
                <p>What is a current value of you property? We'll build a value calculator with use of Machine Learning
                    algorithms. Obviously there are many factors that have an impact on final price, but we are limited
                    to "extractable" variables. We'll train our estimators on Daft.ie current sale adverts as well as
                    recent year transactions.
                    bound.</p>
                <div class="daft_info">
                    <tr class>
                        Data Source: <a target="_blank" href="https://www.daft.ie/sales/">Daft Sales</a> &
                        <a target="_blank" href="https://www.daft.ie/price-register/">Daft Price Register</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </tr>
                    <tr>
                        Estimators: <a>RandomForest & XGBoost </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </tr>
                    <tr>
                        Features: <a>Property Type, City Area, Bedrooms, Bathrooms</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </tr>
                    <tr>
                        Labels: <a>Price</a>
                    </tr>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="row" style="height: 20px;">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}
<div class="dashboard-cards overflow_hidden">
    <div class="row row-cards">
        <div class="container">


            <form class="form-signin" method="POST" action="{% url 'daft_analytics:city_choice' %}">
                {% csrf_token %}
                <fieldset class="form-box">
                    <div class="row text-center">
                        <h4>Choose City</h4>
                    </div>
                    <div class="row text-center">
                        <div class="input-field col s6">
                            <div class="input-field col s12 field-description">
                                <h6>City:</h6>
                            </div>

                        </div>
                        <div class="input-field col s6 property_input">
                            <select name="city" required="required">
                                <option value="" disabled selected></option>
                                <option value="Cork">Cork</option>
                                <option value="Dublin">Dublin</option>
                                <option value="Galway">Galway</option>
                                <option value="Limerick">Limerick</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn-login"><span>Continue <i class="far fa-arrow-alt-circle-right"></i></span>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large light-green darken-2" href="{% url 'dashboard:dashboard' %}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });

</script>

{% endblock %}

