{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-4 col-lg-2 text-right">

            <img src="{% static 'img/tableau-logo.png' %}" class="img responsive tableau">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
            <div class="row summary">

                <div class="box">
                    <h5>DAFT PROPERTY PRICES - AUGUST 2018 </h5>
                    <a href="{% url 'daft_analytics:city_choice' %}" class="btn-algorithm">Estimate Property</a>
                </div>
                <p>This visualization was created to show current property market situation in four major cities of
                    Ireland
                    - Cork, Dublin, Galway & Limerick. Magic quadrant-style data display allows to determine most
                    attractive
                    investments based on price & energy rating (BER).
                    Additionally, user is in control of specifying his current budget, number of bedrooms required and
                    city
                    area.</p>
                <p>Data Source: <a target="_blank" href="https://www.daft.ie/"> Daft.ie</a></p>
            </div>


        </div>
    </div>
</div>
<div class="row" style="height: 20px;">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}
<div class="dashboard-cards" style="width:98%">
    <div class="row row-cards" style="width:98%">
        <div class="card tableau_card">
            <div class='tableauPlaceholder' id='viz1536090823856' style='position: relative'>
                <noscript>
                    <a href='#'><img alt='Daft Market '
                                     src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;da&#47;daft_analytics_Aug2018&#47;DaftMarket&#47;1_rss.png'
                                     style='border: none'/>
                    </a></noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
                    <param name='embed_code_version' value='3'/>
                    <param name='site_root' value=''/>
                    <param name='name' value='daft_analytics_Aug2018&#47;DaftMarket'/>
                    <param name='tabs' value='no'/>
                    <param name='toolbar' value='yes'/>
                    <param name='static_image'
                           value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;da&#47;daft_analytics_Aug2018&#47;DaftMarket&#47;1.png'/>
                    <param name='animate_transition' value='yes'/>
                    <param name='display_static_image' value='yes'/>
                    <param name='display_spinner' value='yes'/>
                    <param name='display_overlay' value='yes'/>
                    <param name='display_count' value='yes'/>
                    <param name='filter' value='publish=yes'/>
                </object>
            </div>
            <script type='text/javascript'>
                            var divElement = document.getElementById('viz1536090823856');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            vizElement.style.width = '100%';
                            vizElement.style.height = '950px';
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);


            </script>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large light-green darken-2" href="{% url 'dashboard:dashboard' %}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

{% endblock %}
