<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Labs</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- FontAwesome Styles-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <!-- Custom Styles-->
  <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/data.css' %}" rel="stylesheet"/>
  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
  <!-- jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Chart Js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <!-- Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% block extrahead %}{% endblock %} {% block head_js %} {% endblock head_js %}
</head>

<body>
<div id="wrapper">
  <!-- TOP NAVBAR -->
  {% block navbar %}
  <nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand company-logo" href=""><img class="company-logo"
                                                        src="{% static 'img/logo-white.png' %}"
                                                        alt="Logo"/></a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li><a class="nav-link" href=""><i class="fas fa-terminal"></i>REST Api</a>
      </li>
      <li><a class="nav-link" target="_blank"
             href="https://github.com/LukaszMalucha/Data-Labs-with-Python-Tableau"><i class="fab fa-github"></i>
        GitHub</a></li>
      <li><a class='dropdown-trigger nav-link' href='#' data-target='dropdown-user' id="user_dropdown"><i
              class="fas fa-caret-down"></i>
        {% if user.is_authenticated %}
        {{ user }}
        {% else %}
        Login/Register
        {% endif %}
      </a></li>
      <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
      </li>
    </ul>
  </nav>

  <!-- DROPDOWN -->
  <ul id="dropdown-user" class="dropdown-content">
    {% if user.is_authenticated %}
    <li><a href="{% url 'user:logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
    {% else %}
    <li><a href="{% url 'user:login' %}"><i class="fa fa-user fa-fw"></i> Log In</a></li>
    <li><a href="{% url 'user:register' %}"><i class="fas fa-tasks"></i> Register</a></li>
    {% endif %}
  </ul>


  <!-- MOBILE -->
  <ul class="sidenav" id="mobile-demo">
    <li><a class="dropdown-button waves-effect waves-dark" href=""><i
            class="fas fa-terminal"></i><b>REST Api</b></a></li>
    <li><a class="dropdown-button waves-effect waves-dark" target="_blank"
           href="https://github.com/LukaszMalucha/Data-Labs-with-Python-Tableau"><i class="fab fa-github"></i>
      <b>GitHub</b></a>
    </li>
    {% if user.is_authenticated %}
    <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:logout' %}"><i
            class="fas fa-sign-out-alt"></i><b> Log Out {{ user.name }}</b></a></li>
    {% else %}
    <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:login' %}"><i
            class="fa fa-user"></i><b> Log In</b></a></li>
    <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:register' %}"><i
            class="fas fa-tasks"></i><b> Register</b></a></li>
    {% endif %}

  </ul>
  {% endblock %}
  <!-- PAGE-WRAPPER -->

  <!-- PAGE-INDEX -->
  <div id="page-index">
    <div class="row header">
      <div class="row top-menu">
        <div class="col-sm-2 col-md-1 plain-element text-right col-logo">
          <a>
            <img src="{% static 'img/tableau.png' %}"
                 class="img responsive tableau" alt="Tableau logo"/>
          </a>
        </div>
        <div class="col-sm-12 col-md-11 plain-element">
          <ul>
            <li>
              <a>My Asset Manager</a>
            </li>
            <li>
              <a>Trade Assets</a>
            </li>
            <li>
              <a>Cash Transfer</a>
            </li>
            <li>
              <a>Transaction History</a>
            </li>
            <li class="link-advert"><a target="_blank" href="http://www.quantproperties.com/">Property Value
              Estimator</a></li>
            <li class="link-advert"><a target="_blank" href="http://www.thompsonsampling.com/">Ad Campaign</a></li>
            <li class="link-advert"><a target="_blank" href="https://github.com/LukaszMalucha">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row row-banner">
      <div class="col-md-12 text-center col-banner plain-element">
        <h4>Tableau Data Vizualizations with Python</h4>
      </div>

    </div>
    <div class="dashboard-cards">
      <div class="row">
        <div class="col-md-2 col-left">
          <div class="section-left">
            <div class="section-heading text-left">
              New Projects
            </div>
            <div class="single-project">
              <div class="col-md-3 text-left plain-element">
                <img src="{% static 'img/projects/thompson.jpg' %}" class="img responsive single-project-img"
                     alt="project img"/>
              </div>
              <div class="col-md-9 text-left plain-element">
                <div class="row plain-element">
                  <a href="#" class="single-project-title">Thompson Sampling</a>
                </div>
                <div class="row plain-element">
                  <a target="_blank" href="http://www.minerstartup.com" class="btn subscribe-btn"> Visit Project</a>
                </div>
              </div>
            </div>
            <div class="single-project">
              <div class="col-md-3 text-left plain-element">
                <img src="{% static 'img/projects/blockchain.jpg' %}" class="img responsive single-project-img"
                     alt="project img"/>
              </div>
              <div class="col-md-9 text-left plain-element">
                <div class="row plain-element">
                  <a href="#" class="single-project-title">Blockchain Example</a>
                </div>
                <div class="row plain-element">
                  <a target="_blank" href="http://www.minerstartup.com" class="btn subscribe-btn"> Visit Project</a>
                </div>
              </div>
            </div>
            <div class="single-project">
              <div class="col-md-3 text-left plain-element">
                <img src="{% static 'img/projects/quant.jpg' %}" class="img responsive single-project-img"
                     alt="project img"/>
              </div>
              <div class="col-md-9 text-left plain-element">
                <div class="row plain-element">
                  <a href="#" class="single-project-title">Quant Properties</a>
                </div>
                <div class="row plain-element">
                  <a target="_blank" href="http://www.minerstartup.com" class="btn subscribe-btn"> Visit Project</a>
                </div>
              </div>
            </div>
            <div class="single-project">
              <div class="col-md-3 text-left plain-element">
                <img src="{% static 'img/projects/unflasking.jpg' %}" class="img responsive single-project-img"
                     alt="project img"/>
              </div>
              <div class="col-md-9 text-left plain-element">
                <div class="row plain-element">
                  <a href="#" class="single-project-title">Unflasking AI</a>
                </div>
                <div class="row plain-element">
                  <a target="_blank" href="http://www.minerstartup.com" class="btn subscribe-btn"> Visit Project</a>
                </div>
              </div>
            </div>
            <div class="single-project">
              <div class="col-md-3 text-left plain-element">
                <img src="{% static 'img/projects/cat_dog.jpg' %}" class="img responsive single-project-img"
                     alt="project img"/>
              </div>
              <div class="col-md-9 text-left plain-element">
                <div class="row plain-element">
                  <a href="#" class="single-project-title">Cat Dog Classifier</a>
                </div>
                <div class="row plain-element">
                  <a target="_blank" href="http://www.minerstartup.com" class="btn subscribe-btn"> Visit Project</a>
                </div>
              </div>
            </div>
            <div class="single-project">
              <div class="col-md-3 text-left plain-element">
                <img src="{% static 'img/projects/twitter.jpg' %}" class="img responsive single-project-img"
                     alt="project img"/>
              </div>
              <div class="col-md-9 text-left plain-element">
                <div class="row plain-element">
                  <a href="#" class="single-project-title">Top 10 US Trends</a>
                </div>
                <div class="row plain-element">
                  <a target="_blank" href="http://www.minerstartup.com" class="btn subscribe-btn"> Visit Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-center">
          <div class="section-center">
            <div class="section-heading text-left">
              Most popular
            </div>
            <div class="row plain-element row-medium-projects">
              <div class="col-md-4 plain-element col-project-left">
                <div class="single-project-left">
                  <img src="{% static 'img/daft_analytics.png' %}"
                       class="img responsive img-project-medium" alt="Tableau Public"/>
                </div>
                <div class="single-project-content content-side text-left">
                  <a href=""><b>Daft Analytics</b><br>
                    Daft.ie property market analysis.
                </div>
              </div>
              <div class="col-md-4 plain-element col-project-center">
                <div class="single-project-center">
                  <img src="{% static 'img/git_activity.png' %}"
                       class="img responsive img-project-medium" alt="Tableau Public"/>
                </div>
                <div class="single-project-content content-center text-left">
                  <a href=""><b>Github Activity</b><br>
                    My GitHub Activity on Radial Bar Chart.</a>
                </div>
              </div>
              <div class="col-md-4 plain-element col-project-right">
                <div class="single-project-right">
                  <img src="{% static 'img/life_expectancy.png' %}"
                       class="img responsive img-project-medium" alt="Tableau Public"/>
                </div>
                <div class="single-project-content content-side text-left">
                  <a href=""><b>World Life Expectancy</b><br>
                    Visualizing increase in world life expectancy.
                </div>
              </div>
            </div>
            <div class="section-heading text-left">
              Data Scientists in Big 5
            </div>
            <div class="row plain-element">
              <div class="col-md-4 plain-element col-img-lg">
                <img src="{% static 'img/db.png' %}"
                     class="img responsive img-section img-project-lg" alt="Tableau Public"/>
              </div>
              <div class="col-md-8">
                <div class="row plain-element text-left">
                  <a class="link-date" href="#">MAY 21, 2019 / Data Science</a>
                </div>
                <div class="row plain-element text-left">
                  <h5>What is the ultimate toolbox for Data Science?</h5>
                </div>
                <div class="section-text text-left">
                  What is the ultimate toolbox for Data Science? Let's find out by analyzing LinkedIn profiles of Data
                  Scientists in most prominent IT Companies
                  - Amazon, Apple, Facebook, Google and Microsoft. Then test your own LinkedIn profile skillset against
                  skillsets of top tier Data Scientists.
                </div>
                <div class="row plain-element text-left">
                  <a href="" class="link-visit-lg">Visit Dashboard</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-right">
          <div class="section-right">
            <div class="section-heading text-left">
              Tableau Public
            </div>
            <div class="section-text text-center">
              To get more live interaction with data dashboards please visit my Tableau Public:

            </div>
            <div class="section-image">
              <img src="{% static 'img/public.png' %}"
                   class="img responsive img-section" alt="Public"/>

            </div>
            <div class="row plain-element">
              <button type="submit" class="btn btn-visit">Tableau Public</button>
            </div>
            <br>
            <div class="section-heading text-left">
              Coding Portfolio
            </div>
            <div class="section-text text-center">
              My python portfolio including Django & Flask REST applications,
              AI and data analysis concepts:
            </div>
            <div class="section-image">
              <img src="{% static 'img/portfolio.png' %}"
                   class="img responsive img-section" alt="Public"/>

            </div>
            <div class="row plain-element">
              <button type="submit" class="btn btn-visit">Code Portfolio</button>
            </div>

          </div>
        </div>


      </div>
    </div>


  </div>
  <!-- PAGE-INDEX -->
</div>
<!-- /. WRAPPER  -->
<div class="footer">
  <p><a target="_blank" href="https://www.freeprivacypolicy.com/privacy/view/9b972ff9a2aaeda03f07216c15625791/">Privacy
    Policy</a> • © 2019 - 2020 www.unflasked.com - All Rights Reserved • Powered by Septellar &trade;</p>
</div>

<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- waypoints JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<!-- counterup JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<!-- Custom Js -->
<script src="{% static 'js/custom-scripts.js' %}"></script>
<script src="{% static 'js/data.js' %}"></script>

</body>

</html>
