/*------------------------------------------------------------------------------
    DATA STYLES
------------------------------------------------------------------------------*/

body {
    background-image: none;
}



#page-index {
    padding-top: 0px;
}



.row-cards {
    width: 80%;
    text-align: center;

}

.row-title {
    width: 70%;
    margin: auto;
    text-align: left;
}


.row-title h3 {
    font-size: 30px;
    font-weight: 700;
    color: black;
    font-family: 'Raleway';
}

.row-title p {
    color: #868e96;
    font-size: 12px;

}



.icon {
    width: auto;
    height: 18px;

}

.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

.box span {
    margin-left: 5px;
}

table {
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
}



.details-table tr {
    margin-right: 20px;
}

/*------------------------------------------------------------------------------
    SECTIONS
------------------------------------------------------------------------------*/

.section-viz {
  background-color: #ffffff;
  padding: 0px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
}

.section-left h5 {
  font-size: 18px;
  font-weight: 600;
}

#divLifeExpectancyViz {
  height: 740px;
}

#divGithubActivityViz {
  height: 740px;
}

#divDataAnalyticsViz {
  height: 740px;
}

.col-data-left {
  position: relative;
  width: 19%;
  margin-right: 1%;
  float: left;

}

.col-data-center {
  position: relative;
  width: 60%;
  padding: 0px 5px;
  float: left;
}

.col-data-right {
  position: relative;
  width: 19%;
  margin-left: 1%;
  float: left;
}



#dataScienceRight,
#dataScienceLeft,
#divDataScienceViz {
  height: 1127px !important;
}

.summary {
    width: 98%;
    margin: auto;
    color: #333333 !important;
}


#divGithubActivityViz {
  background: black;
}


#foundChart {
  height: 300px;
  display: none;
}

#foundChart h5 {
  font-size: 18px;
  font-weight: 600;
}

#missingChart {

  height: 700px;
  display: none;
}

#missingChart h5 {
    font-size: 18px;
  font-weight: 600;
}

.row-error {
  color: red;
}

/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/

.btn-enter {
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    box-shadow: none;
    border:none;
    color: #84ab41;
}

.btn-enter i {
    font-size: 16px;
}

.btn-enter:hover,
.btn-enter:focus,
.btn-enter:active {
    background-color: transparent;
    color: #6d8f36;
}


.arrow {
    color: white;
}

.btn-scraper {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #83ab41;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 0px;
    font-family: 'Roboto';
}

.btn-scraper:hover, .btn-scraper:active, .btn-scraper:focus {
    color: #6d8f36;
    background: transparent;
    box-shadow: none;
    border: none;
 }


 .link {
    color: #4267b2 !important;

 }

 .link:hover, .link:active,  .link:focus {
    color: #23527c !important;
 }

.btn-algorithm {
    border-radius: 5px;
    margin-left: 40px;
    height: 30px;
    width: auto;
    background: #3666b8;
    padding: 1px 10px 1px 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 6px;
    color: white;
}

.btn-algorithm:hover,
.btn-algorithm:focus,
.btn-algorithm:active {
    color: white;
    background: #F19030;
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


@media(max-width:1900px) {


}


@media(max-width:1700px) {

    .dashboard-cards {
        width: 98%;

    }

    .row-cards {
    width: 100%;
    }

    #textLife,
    #textGithub {
      height: 740px !important;
    }

    #divGithubActivityViz {
    }

}

@media(max-width:1300px) {
    .col-data-left {
      position: relative;
      width: 15%;
      margin-right: 1%;
      float: left;

    }

    .col-data-center {
      position: relative;
      width: 68%;
      padding: 0px 5px;
      float: left;
    }

    .col-data-right {
      position: relative;
      width: 15%;
      margin-left: 1%;
      float: left;
    }

    #VizDA {
      overflow: auto;
    }

}

@media(max-width:1024px) {

    .col-data-left,
    .col-data-right {
      display: none;
    }

    .col-data-center {
      padding: 0 5%;
    }

    .viz-card {
        width: 90%;
    }

    .card .card-image img {
        height: 100% !important;
    }


    .header {
        padding-left: 1%;
        padding-right: 1%;
    }

    .tableau_card {
        overflow: auto;
    }

    .btn-algorithm {
        margin-left: 10px;
        height: 24px;
        font-size: 12px;
        padding: 0px 6px 0px 6px;
        line-height: 24px;
        margin-top: 6px;
        color: white;
    }

    .skillset-image {
        display:none;
    }

     .form-signin {
    max-width: 100%;
    }
}


@media(max-width:520px) {

    .row-title,
    .row-cards {
        width: 100%;
    }

    .container {
        width: 100%;
        padding: 0px;
    }

    .form-box h4 {
        font-size: 1.6rem;
    }

    .card-image {
        display:none;
    }
}

@media(max-width:375px) {
    .btn-algorithm {
        margin-left: 5px;
        height: 24px;
        font-size: 10px;
        padding: 0px 6px 0px 6px;
        line-height: 24px;
        margin-top: 6px;
        color: white;
    }
}


