<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Labs</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- FontAwesome Styles-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <!-- Custom Styles-->
  <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/data.css' %}" rel="stylesheet"/>
  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
  <!-- jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% block extrahead %}{% endblock %} {% block head_js %} {% endblock head_js %}


</head>

<body>
<div id="wrapper">
  <!-- TOP NAVBAR -->
  {% block navbar %}
  <nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand company-logo" href="/"><img class="company-logo"
                                                         src="{% static 'img/logo-white.png' %}"
                                                         alt="Logo"/></a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li><a class="nav-link" href="/api/"><i class="fas fa-terminal"></i>REST Api</a>
      </li>
      <li><a class="nav-link" target="_blank"
             href="https://github.com/LukaszMalucha/Data-Labs-with-Python-Tableau"><i class="fab fa-github"></i>
        GitHub</a></li>
      <li><a class='dropdown-trigger nav-link' href='#' data-target='dropdown-user' id="user_dropdown"><i
              class="fas fa-caret-down"></i>
        {% if user.is_authenticated %}
        {{ user }}
        {% else %}
        Login/Register
        {% endif %}
      </a></li>
      <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
      </li>
    </ul>
  </nav>

  <!-- DROPDOWN -->
  <ul id="dropdown-user" class="dropdown-content">
    {% if user.is_authenticated %}
    <li><a href="{% url 'user:logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
    {% else %}
    <li><a href="{% url 'user:login' %}"><i class="fa fa-user fa-fw"></i> Log In</a></li>
    <li><a href="{% url 'user:register' %}"><i class="fas fa-tasks"></i> Register</a></li>
    {% endif %}
  </ul>


  <!-- MOBILE -->
  <ul class="sidenav" id="mobile-demo">
    <li><a class="dropdown-button waves-effect waves-dark" href="/api/"><i
            class="fas fa-terminal"></i>REST Api</a></li>
    <li><a class="dropdown-button waves-effect waves-dark" target="_blank"
           href="https://github.com/LukaszMalucha/Data-Labs-with-Python-Tableau"><i class="fab fa-github"></i>
      GitHub</a>
    </li>
    {% if user.is_authenticated %}
    <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:logout' %}"><i
            class="fas fa-sign-out-alt"></i> Log Out {{ user.name }}</a></li>
    {% else %}
    <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:login' %}"><i
            class="fa fa-user"></i> Log In</a></li>
    <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:register' %}"><i
            class="fas fa-tasks"></i> Register</a></li>
    {% endif %}

  </ul>
  {% endblock %}
  <!-- PAGE-WRAPPER -->
  {% block content %}


  {% endblock %}

  <div id="lifeExpectancy" style="height: 0px; overflow: hidden;">
    <div class='tableauPlaceholder' id='viz1535544811130' style='position: relative'>
      <noscript><a href='#'><img alt='World Life Expectancy by Country  '
                                 src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wo&#47;WorldLifeExpectancy_1&#47;Sheet1&#47;1_rss.png'
                                 style='border: none'/></a>
      </noscript>
      <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='site_root' value=''/>
        <param name='name' value='WorldLifeExpectancy_1&#47;Sheet1'/>
        <param name='tabs' value='no'/>
        <param name='toolbar' value='yes'/>
        <param name='static_image'
               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wo&#47;WorldLifeExpectancy_1&#47;Sheet1&#47;1.png'/>
        <param name='animate_transition' value='yes'/>
        <param name='display_static_image' value='yes'/>
        <param name='display_spinner' value='yes'/>
        <param name='display_overlay' value='yes'/>
        <param name='display_count' value='yes'/>
      </object>
      <script type='text/javascript'>
          var divElementLE = document.getElementById('viz1535544811130');
          var vizElementLE = divElementLE.getElementsByTagName('object')[0];
          vizElementLE.style.width = '100%';
          vizElementLE.style.height = '740px';
          var scriptElementLE = document.createElement('script');
          scriptElementLE.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
          vizElementLE.parentNode.insertBefore(scriptElementLE, vizElementLE);

      </script>
    </div>
  </div>
  <div id="githubActivity" style="height: 0px; overflow: hidden;">
    <div class='tableauPlaceholder' id='viz1539202274124' style='position: relative'>
      <noscript>
        <a href='#'><img alt='Git Activity '
                         src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;gi&#47;git_activity&#47;GitActivity&#47;1_rss.png'
                         style='border: none'/></a>
      </noscript>
      <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='site_root' value=''/>
        <param name='name' value='git_activity&#47;GitActivity'/>
        <param name='tabs' value='no'/>
        <param name='toolbar' value='yes'/>
        <param name='static_image'
               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;gi&#47;git_activity&#47;GitActivity&#47;1.png'/>
        <param name='animate_transition' value='yes'/>
        <param name='display_static_image' value='yes'/>
        <param name='display_spinner' value='yes'/>
        <param name='display_overlay' value='yes'/>
        <param name='display_count' value='yes'/>
      </object>
      <script type='text/javascript'>
          var divElementGA = document.getElementById('viz1539202274124');
          var vizElementGA = divElementGA.getElementsByTagName('object')[0];
          vizElementGA.style.width='100%';vizElementGA.style.height='740px';
          var scriptElementGA = document.createElement('script');
          scriptElementGA.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
          vizElementGA.parentNode.insertBefore(scriptElementGA, vizElementGA);

      </script>
    </div>
  </div>
  <div id="dataScience" style="height: 0px; overflow: hidden;">
    <div class='tableauPlaceholder' id='viz1538649519596' style='position: relative'>
      <noscript>
        <a href='#'><img alt='Data Science '
                         src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ZS&#47;ZSFTBYHY3&#47;1_rss.png'
                         style='border: none'/></a>
      </noscript>
      <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='path' value='shared&#47;ZSFTBYHY3'/>
        <param name='toolbar' value='yes'/>
        <param name='static_image'
               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ZS&#47;ZSFTBYHY3&#47;1.png'/>
        <param name='animate_transition' value='yes'/>
        <param name='display_static_image' value='yes'/>
        <param name='display_spinner' value='yes'/>
        <param name='display_overlay' value='yes'/>
        <param name='display_count' value='yes'/>
      </object>
      <script type='text/javascript'>
                var divElementDS = document.getElementById('viz1538649519596');
                var vizElementDS = divElementDS.getElementsByTagName('object')[0];
                vizElementDS.style.width = '850px';
                vizElementDS.style.height = '1127px';
                var scriptElementDS = document.createElement('script');
                scriptElementDS.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElementDS.parentNode.insertBefore(scriptElementDS, vizElementDS);


      </script>
    </div>
  </div>
  <div id="daftAnalytics" style="height: 0px; overflow: hidden;">
    <div class='tableauPlaceholder' id='viz1536090823856' style='position: relative'>
      <noscript>
        <a href='#'><img alt='Daft Market '
                         src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;da&#47;daft_analytics_Aug2018&#47;DaftMarket&#47;1_rss.png'
                         style='border: none'/>
        </a></noscript>
      <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='site_root' value=''/>
        <param name='name' value='daft_analytics_Aug2018&#47;DaftMarket'/>
        <param name='tabs' value='no'/>
        <param name='toolbar' value='yes'/>
        <param name='static_image'
               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;da&#47;daft_analytics_Aug2018&#47;DaftMarket&#47;1.png'/>
        <param name='animate_transition' value='yes'/>
        <param name='display_static_image' value='yes'/>
        <param name='display_spinner' value='yes'/>
        <param name='display_overlay' value='yes'/>
        <param name='display_count' value='yes'/>
        <param name='filter' value='publish=yes'/>
      </object>
    </div>
    <script type='text/javascript'>
                      var divElementDA = document.getElementById('viz1536090823856');
                      var vizElementDA = divElementDA.getElementsByTagName('object')[0];
                      vizElementDA.style.width = '100%';
                      vizElementDA.style.height = '950px';
                      var scriptElementDA = document.createElement('script');
                      scriptElementDA.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                      vizElementDA.parentNode.insertBefore(scriptElementDA, vizElementDA);

    </script>
  </div>

</div>
<!-- /. WRAPPER  -->
<div class="footer">
  <p><a target="_blank" href="https://www.freeprivacypolicy.com/privacy/view/9b972ff9a2aaeda03f07216c15625791/">Privacy
    Policy</a> • © 2019 - 2020 www.unflasked.com - All Rights Reserved • Powered by Septellar &trade;</p>
</div>

<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Custom Js -->
<script src="{% static 'js/custom-scripts.js' %}"></script>
<script src="{% static 'js/tableau.js' %}"></script>
{% block js %}
{% endblock %}

</body>

</html>
