/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/

body {
    font-family: 'Source Sans Pro';
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #f2f4f5;

}

html {
    height: 100%;
    box-sizing: border-box;
}

#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 42px;

}

#page-index a {
    text-decoration: none;
    outline: 0;
}


.text-center {
    text-align: center;
}

.summary {
    padding: 1% 0% 3% 0%;
    color: #333333 !important;
}


a {
    color: #4267b2
}

a:hover {
    text-decoration: none;
}

.overflow_hidden {
    overflow: hidden !important;
}

.plain-element {
    padding: 0px;
    margin: 0px;
}

/*------------------------------------------------------------------------------
    Row Header
------------------------------------------------------------------------------*/

.header {
    height: 90px;
    max-height: 90px;
    margin: 0px;
    background: white;
    text-align: center;
}

.top-menu {
    width: 74%;
    margin: auto;
    padding: 0px;
    color: #333333 !important;
}

.tableau {
    position: relative;
    height: 70px;
    margin: 10px 0px;

}

.top-menu ul {
    display: flex;
    align-items: right;
    width: 100%;
    margin: auto;
    margin-top: 30px;

}

.top-menu li {
    height: 100%;
    margin-left: 4%;
    margin-right: 0%;
}

.top-menu a {
    font-size: 16px;
    color: #292929;
    text-shadow: 1px 1px #e5e5e5;
}

.top-menu a:hover {
    color: #ba378b;
    text-shadow: 1px 1px #f0dee9;
}


/*----------------------------------------------
    Row Message
------------------------------------------------*/

.row-message {
  position: absolute;
  width: 100%;
  top: 42px;
}

.alert {
  position: absolute;
  width: 100%;
}

.messages {
    height: 20px;
}

/*----------------------------------------------
    Row Banner
------------------------------------------------*/


.row-banner {
    height: 120px;
    background: linear-gradient(to right, #522866, #5770af);
    color: white;
    padding: 0 16% 0 16%;
    background-image: url('../../static/img/1.png');
    background-size: cover;
}

.col-banner h4 {
    font-size: 2rem;
    line-height: 70px;
}

.row-banner-small {
    min-height: 75px;
    background: linear-gradient(to right, #522866, #5770af);
    color: white;
    padding-left: 16%;

}

.col-banner-small h4 {
    font-size: 1.8rem;

}

.short-title {
    display: none;
}


.slider {
    height: 150px !important;
}


.slider .slides {
    height: 150px !important;
    background: transparent;
}

.slider .indicators {
    display: none;
}

.caption h4,
.caption h5 {
    padding-left: 80px;
}

.caption h4 {
    font-size: 2rem;
}

.caption h5 {
    font-size: 1.5rem;
}


/*----------------------------------------------
    Dashboard Cards
------------------------------------------------*/

.dashboard-cards {
    border: none;
    text-align: center;
    box-shadow: none;
    min-height: 600px;
    display: block;
    overflow: auto;
    width: 75%;
    margin: auto;
}

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    background-color: #f2f4f5;
    padding: 10px 15px;
    border-left: 4px solid #5770af;
    font-size: 18px;
    color: #343a40;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
}


/*----------------------------------------------
    Section Left
------------------------------------------------*/

.col-left, .col-center, .col-right {
    margin: 0px;
    padding: 10px;
}


.section-left {
  background-color: #ffffff;
  height: 720px;
  padding: 10px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
}


.single-project {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 15px;
    display: flex !important;
}

.single-project-img {
    position: relative;
    z-index: 1;
    max-width: 95%;
    width: 95%;
    margin: auto;
    border-radius: 50%;

}


.single-project-title {
  font-size: 15px;
  font-weight: 600;
  margin-left: 3%;
  color: #343a40;
}

.single-project-meta {
  color: #777777;
}

.subscribe-btn {
    position: relative;
    width: 80%;
    height: 20px;
    margin-left: 4%;
    margin-top: 5px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    padding: 3px 4px;
    border: 1px solid #5770af;
    border-radius: 5px;
    color: #5770af;
    background: transparent;
    box-shadow: none;
}

.subscribe-btn:hover,
.subscribe-btn:active,
.subscribe-btn:focus {
  background: #a0b0db;
  color: white;
  transition: background-color .4s ease-out;
  box-shadow: none;
}

/*----------------------------------------------
    Section Center
------------------------------------------------*/

.section-center {
  background-color: #ffffff;
  height: 720px;
  padding: 10px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
}

.row-medium-projects {
    overflow: hidden;
    margin-bottom: 40px;

}

.single-project-left {
  padding:0;
  background: black;
  overflow: hidden;
  width: 98%;
  margin-right: 2%;
}

.single-project-center {
  padding:0;
  background: black;
  overflow: hidden;
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
}

.single-project-right {
  padding:0;
  background: black;
  overflow: hidden;
  width: 98%;
  margin-left: 2%;
}

.img-project-medium {
  width: 100%;
  opacity:0.95;
  display:block;

}

.img-project-medium:hover {
  opacity:0.8;
  transform: scale(1.05);
  transition-duration: 600ms;
}

.single-project-content {
  width: 90%;
  position: absolute;
  top: 110px;
  left: 10px;
}

.single-project-content a > b{
  font-size: 16px;
  background: transparent;
}

.single-project-content a{
  color: white;
  font-size: 14px;
}

/*----------------------------------------------
    Section Right
------------------------------------------------*/

.section-right {
  background-color: #ffffff;
  height: 720px;
  padding: 10px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
}

.section-text {
  font-size: 15px;
  color: #6c757d;
  margin-bottom: 20px;
}

.section-image {
  margin-bottom: 20px;
}

.img-section {
  position: relative;
  width: 100%;
}

.btn-visit {
    background-color: #5770af;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.btn-visit:hover,
.btn-visit:active,
.btn-visit:focus {
  background-color: #3555a6;
  color: white;
}


/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #868e96;
    padding: 12px 0px;
    text-align: center;
}

.footer a {
    color: #868e96;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}


/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/


@media(max-width:1700px) {

    .header {
        padding-left: 1%;
    }

    .tableau {

        margin-top: 5%;
    }

    .summary {
        padding: 1% 0% 1% 0%;
    }

    .summary p {
        font-size: 12px;
    }

    .daft_info {
        font-size: 11px;
    }
}

@media(max-width:1300px) {
   .daft_info {
        font-size: 10px;
    }
}

@media(max-width:1024px) {



    .summary {
        font-size: 12px;
    }

    .daft_info {
        display: none;
    }

}




@media(max-width:520px) {


    .header {
        padding: 0%;
    }



    .summary h5 {
        font-size: 1rem;
    }


    .summary p {
        font-size: 10px;
    }
}


@media(max-width:480px) {}
